extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5 
                img(src="img/nosotros.jpg", alt="Imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Vivamus nisl massa, consectetur eu tortor eget, cursus vestibulum arcu. Nulla consectetur leo vitae enim vulputate fermentum. Quisque pretium urna ante, at mattis lorem facilisis sit amet. Quisque mattis tincidunt elit eget egestas. Sed interdum ante vel volutpat ornare. Aenean venenatis augue commodo, sagittis sem tempus, porttitor neque. Vivamus vitae enim tempus, laoreet nulla sit amet, commodo tellus. Duis id orci diam. Phasellus sit amet nibh ex. Integer ac justo sed sem faucibus aliquam quis id turpis. Aenean ultrices bibendum metus vitae accumsan. Nam et aliquet massa. Ut ac egestas nibh.

                p Mauris leo dui, malesuada eget nisi ultrices, semper tincidunt enim. Vestibulum ornare tempus lacus, in viverra nisi lobortis vel. Donec vitae velit erat. Pellentesque pretium, neque eget varius mollis, ex ex pharetra magna, non blandit tortor ligula a elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam quis nibh id arcu tincidunt ornare maximus at dolor. Sed sit amet rhoncus ipsum. Nam eros augue, tempor interdum diam ac, viverra venenatis leo.

                p Mauris bibendum nulla ut metus dignissim, sit amet luctus ipsum consequat. Sed suscipit nulla justo, a facilisis tellus fermentum in. Pellentesque iaculis lobortis sapien nec posuere. Sed rhoncus leo id purus mattis, ac cursus nulla elementum. Pellentesque aliquam lobortis massa, sed pharetra purus tempor sit amet. Suspendisse lorem ante, molestie quis turpis et, dictum convallis orci. Sed laoreet felis sit amet ornare tristique. Etiam fringilla commodo enim eget ultricies. Integer vitae egestas nisi.

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="iconos seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Mauris bibendum nulla ut metus dignissim, sit amet luctus ipsum consequat. Sed suscipit nulla justo, a facilisis tellus fermentum in. Pellentesque iaculis lobortis sapien nec posuere. Sed rhoncus leo id purus mattis, ac cursus nulla elementum. Pellentesque aliquam lobortis massa, sed pharetra purus tempor sit amet. Suspendisse lorem ante, molestie quis turpis et, dictum convallis orci.


                    .col-md-4
                    img(src="img/icono_destinos.svg", alt="iconos destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Mauris bibendum nulla ut metus dignissim, sit amet luctus ipsum consequat. Sed suscipit nulla justo, a facilisis tellus fermentum in. Pellentesque iaculis lobortis sapien nec posuere. Sed rhoncus leo id purus mattis, ac cursus nulla elementum. Pellentesque aliquam lobortis massa, sed pharetra purus tempor sit amet. Suspendisse lorem ante, molestie quis turpis et, dictum convallis orci.

                    .col-md-4
                    img(src="img/icono_precios.svg", alt="iconos precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p Mauris bibendum nulla ut metus dignissim, sit amet luctus ipsum consequat. Sed suscipit nulla justo, a facilisis tellus fermentum in. Pellentesque iaculis lobortis sapien nec posuere. Sed rhoncus leo id purus mattis, ac cursus nulla elementum. Pellentesque aliquam lobortis massa, sed pharetra purus tempor sit amet. Suspendisse lorem ante, molestie quis turpis et, dictum convallis orci.